<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs') %>

  <body>
    <%- include('navbar.ejs') %>
      <section id="projects-page">
        <div class="row" id="projects-display">
          <% for (project of projects) { %>
            <div class="col-md-6 col-lg-4 project-panel">
              <div class="card">
                <a href=<%=project["link"]%>>
                  <img src=<%=project["img_path"] %> class="card-img-top project-img">
                </a>
                <div class="card-body project-card-body">
                  <h5 class="project-title">
                    <%=project["name"]%>
                  </h5>
                  <div class="attributes-row">
                    <% for (attribute of project["attributes"]) { %>
                      <span class="project-attribute-tag">
                        <span>
                          <%= attribute %>
                        </span>
                      </span>
                      <% } %>
                  </div>
                  <p class="project-description">
                    <%=project["description"]%>
                  </p>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </section>

  </body>

</html>